---
---

$black: #1f1f1f;
$grey: #999;
$white: #fff;
$pink: /*#0d47a1*/#fd5c63;
$darkpink: #b71c1c;
$socialgrey: #BDBDBD;

body {
    height: 100%;
    color: $black;
    font-weight: 300;
}
header.page-header {
    border-top: solid 5px $pink;
}
.call2action {
    background-color: $pink;
}
.call2action:hover {
    background-color: $pink;
}
#home section {
    margin: 20px 0;
    padding: 0 30px 20px;
}
#home h2 {
    font-size: 24px;
    padding: 0;
    margin: 20px 0;
    font-weight: 300;
}
#home p {
    font-size: 18px;
    line-height: 40px;
}
.post article a,
#home p a {
    color: $pink;
    font-weight: 400;
    transition: all 0.2s ease;
}
.post article a:hover,
#home p a:hover {
    text-decoration: underline;
}
#home ul {
    margin: 0;
    padding: 0;
}
#home ul li a.card {
    height: 150px;
    position: relative;
    display: block;
    color: $black;
    padding: 20px 10px 30px 10px;
    border-left: solid 5px $pink;
    transition: all 0.2s ease;
}
#home ul li a.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#home ul li a.card .post-date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 13px;
}
#curtain {
    background-color: $pink;
    height: 300px;
    z-index: 1000;
    position: relative;
}
#curtain h1 {
    display: block;
}
#curtain h1#typed {
    display: none;
}
#curtain.start {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
#curtain.start h1 {
    display: none;
}
#curtain.start h1#typed {
    display: block;
}
#curtain h1 {
    text-align: center;
    font-size: 22px;
    //font-family: courier;
    width: 100%;
    color: $white;
}
.post h1 {
    font-size: 30px;
    text-align: center;
}
.post h2 {
    font-size: 26px;
    text-align: center;
}
.post h3 {
    font-size: 23px;
    text-align: center;
}
.post center {
    position: relative;
}
.post p.meta {
    text-align: center;
    font-size: 13px;
}

.post article {
    font-size: 20px;
    line-height: 40px;
}
.post pre {
    font-size: 15px;
    line-height: 20px;
}

.post article ul li {
    list-style: circle inside;
}
.post p img {
    width: 100%;
}
.post p img.original {
    width: inherit;
    max-width: 100%;
}
.post p img.original,
.post center img.original {
    width: inherit;
    max-width: 100%;
}

.post .signature {
    text-align: right;
    color: $grey;
    font-style: italic;
}
footer {
    margin: 50px 0 0 0;
}
footer ul.social {
    text-align: center;
}
footer ul.social li {
    display: inline;
    padding: 0 30px 0 10px;
}
footer ul.social li a {
    font-size: 35px;
    color: $socialgrey;
    transition: color 0.5s ease;
}
footer ul.social li a:hover {
    color: $pink;
}
footer .copyright {
    font-size: 12px;
    color: $socialgrey;
    text-align: center;
    margin: 10px 0;
}
#curtain ul.social {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
#curtain.start ul.social {
    display: none;
}
#curtain ul.social li {
    display: inline;
    padding: 0 30px 0 10px;
}
#curtain ul.social li a {
    font-size: 30px;
    color: $white;
    transition: color 0.5s ease;
}
#curtain ul.social li a:hover {
    color: $pink;
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}