---
layout: default
---

<div id="home">
    <div id="curtain" class="valign-wrapper z-depth-1">
        <h1 class="valign center-align">SOUAD-MARIE EUDES ASSAAD</h1>\
        {% include social.html %}
    </div>
    <div class="container">
        <section class="card" id="about">
            <!--<h2><i class="fa fa-info-circle fa-fw"></i> About me</h2>-->
            <p>
                Experienced technical product manager and full-stack software developer, I am very curious about the 
                “how” of technology leading to compelling stories about the “why”.  Forward thinker &amp; user experience 
                advocate, I will be a real asset to your team.
                I am also very passionate about nature, I love to read National Geographic and I am an avid traveler.</br>
                Have you ever seen a flamingo dance?<a href="https://www.youtube.com/watch?v=KW8GX2n4qbY" target="_blank">  <i class="fa fa-eye" aria-hidden="true"></i></a></br>
                <strong>Achievements:</strong> </br>
                <i class="fa fa-laptop" aria-hidden="true"></i> Technical creator of <a href="https://thenewluncher.com/" target="_blank">Thenewluncher.com</a>  </br>
                <i class="fa fa-laptop" aria-hidden="true"></i> Technical owner of Seechic.com </br>
                <i class="fa fa-laptop" aria-hidden="true"></i> First &amp; Lead Technical Product Manager at Luxola (acquired by Sephora Digital SEA)</br>
                <i class="fa fa-hand-rock-o" aria-hidden="true"></i> Amateur sparing boxer</br>
                <i class="fa fa-trophy" aria-hidden="true"></i> Laureate at the First PowerPoint Battle  by Microsoft Paris</br>
            </p>
        </section>
        <section class="card">
            <h2><i class="fa fa-bookmark fa-fw"></i> Portfolio </h2>
            <ul class="posts row">
                {% for post in site.posts %}
                <li class="col m4">
                    <a class="post-link card" href="{{ post.url | prepend: site.baseurl }}">
                      <div class="title">{{ post.title }}</div>
                      <div class="post-date">{{ post.categories }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="card">
            <h2><i class="fa fa-wrench"></i> Skills </h2>
            <p><strong>Technical Skills</strong></p>
            <p>Python on Django, HTML/SASS/jQuery/Bootstrap , Angular,  Amazon Web Service, PostgreSQL, Git </p>
            <p><strong>Product Skills</strong></p>
            <p>Analytics, Agile, Managing a roadmap, Wireframing, SCRUM Management, Team &amp; Project Management</p>
        </section>
        <section class="card">
            <h2><i class="fa fa-heart"></i> Passions </h2>
            <p><strong>Boxing</strong></p>
            <p>Started with English boxing, now I am practicing Muay Thai. What I love about this sport is not the violence, but the techniques, the cardio and the sparing strategies. It gave me strength and confidence.</p>
            <p><strong>Animals</strong></p>
            <p>Have you ever watch Planet Earth 2? One of the best documentary I've ever seen. I can spend hours watching/reading about animals, nature is amazing! </p>
            <p><strong>Food</strong></p>
            <p>From street food to a very fancy restaurant, I am ready to try anything. I am a strong beliver that a culture can be discovered through food, it's the best way to express emotions. 
                <a href="http://souad.co/singaporebymouth/">Here is the list of my fav places in Singapore !</a></p>
            <center>
            <img src="https://lh3.googleusercontent.com/tnzm-xCkNfWgPiC84XONB1D5GS8WafC5Up9zTJhDQP9LkCgFDdWaF7ktzo0AxYKQtFokbUzfJ3b6B2vD3AyVDpG8FpzBVoiCjPo-BGvcHsoCsrltYiYuvhhvkMH2epQUE46aZeGJqwlJWGUjlfGxnPTAdVBfW8x0i3nbPrBFi1XtHCsw_P4SugTU_HYAgrrwhjWx3FQU6IbEb0eewCr2nqIcSOpxEk-JP7AAZCKs7EAnWwihOTn6kdJp23X7neA4HdjGkSlIZmJJTtC-uazEkoyxu5tPNcKffXrnLAuW19k1OYJEx-VQgETClVoBwudysl1pdww_iipZS9F2po3WvBvkWLoMu2dyZFs0KJd7yGL1EAPcYLymzRoUJ35av1EUcpkj-b2Uout8lH7fMki7t6OFRsTlSW82BI_D2sseXUDCWflAP51x-UBF1R96ombQ0NC8KBuWywPZd1vHI4FIqYrNr8cM2T0OoE9Nxxo8NJflSDqRx_96a0ceB2Zrf-wReTruX9OIcGdmzyebu4q2PmX7ROcXx7YnKLAJORcjBimahIXPAG6xvfMONn8D7WpO9apQXSzyJyMZD-wSoF_N8qdjV2b8i3bgHeczM3KPpd_r89WUSwdqGJWr7VD2qsvXxuGXHZ6QOzAlOB2hkOTBFwoxOcdniNymSrT7TlkvFg=w1110-h860-no" width="50%" alt="Hello!">
            </center>
            <center>
                <i><small>Please note this turtle is free, she leaves in the sea. In New Caledonia, some families on the islands have developed special relationships with the turtles around. This is not a center where thousands of human come bother animals.</small></i>
            </center>
        </section>
    </div>
</div>