<ul class="social">
    <li><a href="https://www.linkedin.com/in/souad-marie-eudes-assaad-a3012b2b/" target="_blank" title="Connect me on Linkedin" data-position="top" data-delay="50" data-tooltip="Connect me on Linkedin" class="tooltipped"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a href="https://github.com/SouadMarie" target="_blank" title="Challenge me on Github" data-position="top" data-delay="50" data-tooltip="Challenge me on Github" class="tooltipped"><i class="fa fa-github"></i></a></li>
    <li><a href="https://drive.google.com/drive/folders/0BwfyHw87OqrScFRHTlc2V3BmMlk?usp=sharing" target="_blank" title="Download my Resume" data-position="top" data-delay="50" data-tooltip="Download my Resume" class="tooltipped"><i class="fa fa-download"></i></a></li>
</ul>